/* crossinguard theme colors */

:root {
  --cg-dark: hsl(184, 59%, 11%);
  --cg-light: hsl(0, 0%, 95%);
  --cg-rust: hsl(13, 60%, 47%);
  --cg-rust-light: hsl(13, 60%, 70%);
  --cg-rust-dark: hsl(13, 60%, 30%);
  --cg-blue: hsl(183, 81%, 35%);
  --cg-blue-light: hsl(183, 81%, 90%);
  --cg-blue-dark: hsl(183, 81%, 15%);
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: var(--cg-dark);
  --sl-color-accent: var(--cg-blue);
  --sl-color-accent-high: var(--cg-rust-light);
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #ebeef2;
  --sl-color-gray-2: #bfc2c7;
  --sl-color-gray-3: #868c95;
  --sl-color-gray-4: #535961;
  --sl-color-gray-5: #333940;
  --sl-color-gray-6: #22272e;
  --sl-color-black: #16181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: var(--cg-rust);
  --sl-color-accent: var(--cg-blue-dark);
  --sl-color-accent-high: var(--cg-dark);
  --sl-color-white: #16181c;
  --sl-color-gray-1: #22272e;
  --sl-color-gray-2: #333940;
  --sl-color-gray-3: #535961;
  --sl-color-gray-4: #868c95;
  --sl-color-gray-5: #bfc2c7;
  --sl-color-gray-6: #ebeef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

.icon {
  --sl-card-bg: var(--cg-dark);
  --sl-card-border: var(--cg-blue-light);
  --sl-icon-color: var(--cg-blue-light);
}

img[alt='a red octagon with a hand inside; Halo "stop" emblem'],
img[alt='crossinguard math'] {
  width: 15rem;
  margin-inline: auto;
}

[id^='tab-panel-'] ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

[id^='tab-panel-'] ul li {
  padding-inline-start: 1em;
}
